@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  user-select: none;
  @apply text-slate-100 border-b border-dashed;
}

button {
  user-select: none;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

p {
  line-height: 2;
}
